<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>From <%= @user %></h1>
    <p>
      <%= @message %><br>
    </p>
    <p>
      To respond <%= @usersemail %><br>
    </p>
  </body>
</html>